h1 {
     font-family: "Libre Baskerville", serif;
     font-weight: 900;
     color: white;
     margin-top: 100px;
}

#h1b {
    color: black;
}

* { 
    text-align: center;
}

body {
    background-color: #7fa1c3;
}

#second {
    background-color: #E7CCCC;
}

img {
    margin-top: 25px;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#first {
    color: black;
    font-family: "Libre Baskerville", serif;
    font-weight: bolder;
    font-size: larger;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: white;
    padding: 20px;
}

#psecond {
    color: black;
    font-family: "Libre Baskerville", serif;
    font-weight: bolder;
    font-size: larger;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: white;
    padding: 20px;
}

#image {
    box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.5);
    width: 400px;
    margin: 50px auto 0 auto;
    border: 5px solid white;
}

#image2 {
    box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.5);
    width: 400px;
    margin: 50px auto 0 auto;
    border: 5px solid white;
}

#click {
    border: 0;
    line-height: 2.5;
    margin-top: 30px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
     color: #fff;
     text-shadow: 1px 1px 1px #a4a0a0;
     border-radius: 12px;
     background-color: #f6dd24;
     background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(33, 29, 29, 0.2) 50%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#click:hover {
  background-color: rgb(243, 243, 62);
}

#click:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
